body {
	background: #B5F4FF;
	font-family: Helvetica;
}
#cabecera {
	background-color: #007bff;
	border: solid 2px #515858;
	padding: 5px;
	border-radius: 10px;
}
nav {
	display: flex;
	justify-content: space-evenly;
}
.enlaces {
	color: white;
	text-decoration: none;
	font-weight: bold;

}

.enlaces:hover {
	color: blue;
	transition: 
	0.5s,
	background 1s;
	background: #0467d1;
	border-radius: 5px;
}
#contenido {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;

}
#sobre_mi {
	font-size: large;
	color: #5a5e5e;
	margin: 20px;
}
#Curriculum {
	font-size: large;
	color: #5a5e5e;
	margin: 20px;
}
h2 {
	font-size: 30px;
}
#imagen_gato {
	height: auto;
	width: 50%;
	box-shadow:-3px 2px 2px black;

}
footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 5px;
	margin-top: auto;
	margin-left: 0px;
}
#contenedorImagenes {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}
.imagenNormalizada {
	object-fit: scale-down;
	height: auto;
}
fieldset {
	border: solid 2px #515858;
	border-radius: 10px;
	margin: 5px;
}
input {
	border: solid 1px #515858;
	margin-bottom: 10px;
	border-radius: 5px;
}
textarea {
	border: solid 1px #515858;
	margin-bottom: 10px;
	border-radius: 5px;
}
main {
	flex: 1;
}
.Contenedor_todo{
	display: flex;
    flex-direction: column;
    min-height: 100%;
}
html, body {
    height: 100%;
    margin: 0; 
    margin-top: 5px;
    margin-left: 5px;
}