body {
	background: #B5F4FF;
	font-family: Helvetica;
}
#cabecera {
	background-color: #007bff;
	border: solid 2px #515858;
	padding: 5px;
	border-radius: 10px;
}
nav {
	display: flex;
	justify-content: space-evenly;
}
.enlaces {
	color: white;
	text-decoration: none;

}
a:hover {
	color: blue;
}
#contenido {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;

}
#sobre_mi {
	font-size: large;
	color: #5a5e5e;
	margin: 20px;
}
h2 {
	font-size: 30px;
}
#imagen_gato {
	height: auto;
	width: 50%;
	box-shadow:-3px 2px 2px black;

}
footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 5px;
}
#contenedorImagenes {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}
.imagenNormalizada {
	object-fit: scale-down;
	height: auto;
}